@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

header {
  height: 100px;
  text-align: center;
}

header > h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.event-container {
  display: block;
  height: 220px;
  width: 100%;
  background-color: #cdcdcd;
  padding: 20px;
  white-space: nowrap;
  overflow-x: auto;
}

li[class*=event] {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  background-color: #eee;
  margin-right: 20px;
  border-radius: 2px;
  border-top: solid 2px #000;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  overflow: hidden;
}

li.event-form {
  width: 300px;
}

li.event-form h3 {
  display: block;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

li.event-add {
  width: 40px;
}

#canvasPromo {
  border: solid 1px #000;
  max-width: 100%;
  width: 100%;
}